.get-action__text {
  max-width: 420px;
  font-size: 18px;
  line-height: 24px;
  color: #3B3748;
  font-weight: 400;
  margin: 8px 0 0;
  padding: 0;
}
.get-action__text:last-of-type {
  margin-top: 24px;
}
@media screen and (max-width: 850px) {
  .get-action__text {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 12px 0 0;
  }
}