.footer__link {
  display: flex;
  margin: 0 0 24px 0;
  width: fit-content;
}

.footer__link:nth-child(3) {
  margin-bottom: 0;
}

@media screen and (max-width: 1300px) {
  .footer__link {
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    width: auto;
  }
}
