.first-screen__logo {
  /* width: 315px; */
  width: calc((100vh - 88px) * 0.415);
  height: calc((100vh - 88px) * 0.3);
  max-height: 228px;
  margin-top: calc((100vh - 88px) * 0.35);
}

@media screen and (max-width: 850px) {
  .first-screen__logo {
    /* width: 210px; */
    width: calc((100vh - 68px) * 0.322);
    height: calc((100vh - 68px) * 0.233);
    max-height: 152px;
    /* margin-top: 175px; */
    margin-top: calc((100vh - 68px) * 0.268);
  }
}
