.footer__link-icon {
  width: 24px;
  height: 24px;
  margin: 0 0 0 9px;
  padding: 0;
  vertical-align: middle;
}

@media screen and (max-width: 1300px) {
  .footer__link-icon {
    width: 20px;
    height: 20px;
  }
}
